@charset "utf-8";
/* CSS Document */

/*fonts*/


/*general*/

* {
  /*   outline: 1px solid red; s*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "tt-nooks", serif;
    color: #171614;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    background-color: #F5F2ED;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


ul {
    list-style-type: none;
}

a {
    color: inherit;
    text-decoration: none;
}

button{
    border: none;
    font-family: "tt-nooks-script", sans-serif;
    font-size: 26px;
    font-weight: 700;
}

/* estilos */

h1{
    font-size: 126px;
    font-weight: 300;
    line-height: 100px;
}

h2{
    font-size: 40px;
    font-weight: 300;
    line-height: 48px;
}

h3{
    font-family: "tt-nooks-script", sans-serif;
    font-size: 100px;
    font-weight: 700;
    line-height: 90px;
}

/*header*/

header{
    margin-top: 35px;
    width: 100%;
    display: flex;
    justify-content: center;
}

header nav{
    border: 2px, solid, #FB95C9;
    border-radius: 20px;
    width: 90%;
    padding: 20px 163px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.botonera-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
}

.boton-nav{
    color: #FB95C9;
    font-family: "tt-nooks-script", sans-serif;
    font-size: 28px;
    font-weight: 700;
}

.boton-nav:hover{
    color: #82C0E8;
    font-family: "tt-nooks", serif;
    font-weight: 300;
}

/*main - index*/

/*section - landing*/

.landing{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 137px;
    padding-top: 150px;

}

.landing-texto{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 85px;
}

.titulo-landing{
    color: #FB95C9;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.subtitulo-landing{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}


/*section - sobre mi*/

.sobremi-index{
    width: 100%;
    background-color: #82C0E8;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 115px;
    padding: 115px 0px;
}

.sobremi-index img{
    transform: rotate(4.615deg);
    flex-shrink: 0;
    aspect-ratio: 125/82;
}

.sm-texto{
    max-width: 488px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 100px;
}

.izq-textoarriba-blanco{
    color: #F5F2ED;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
}

.sm-parrafo{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 40px;
}

/* section - portfolio */


/* botones */

.boton-landing{
    color: #F5F2ED;
    font-family: "tt-nooks", serif;
    font-weight: 300;
    background-color: #FB95C9;
    width: 333px;
    height: 69px;
    border-radius: 15px;
}

.boton-landing:hover{
    background-color: #82C0E8;
    font-family: "tt-nooks-script", sans-serif;
    font-weight: 700;
}

.boton-blanco{
    color: #FB95C9;
    width: 165px;
    height: 64px;
    border-radius: 15px;
}

.boton-blanco:hover{
    color: #F5F2ED;
    background-color: #FB95C9;
}

/* animaciones */

.flor-icono-inicio{
    animation: girar 5s infinite linear;
}

@keyframes girar {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}
