@charset "utf-8";
/* CSS Document */

/*fonts*/
@import url("https://use.typekit.net/pcx8uhu.css");

/*general*/

*{
    color: #171614;
    font-family: "TT-Nooks";
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    background-color: #F5F2ED;
    padding: 0;
	margin: 0;
    list-style: none;
}

a{
    color: inherit;
    font: inherit;
    text-decoration: none;
}

button{
    border: none;
    font-family: "TT-Nooks-Script";
    font-size: 26px;
    font-weight: 700;
}

body { 
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    font-size: 126px;
    font-weight: 300;
    line-height: 100px;
}

h2{
    font-size: 40px;
    font-weight: 300;
    line-height: 48px;
}

h3{
    font-family: "TT-Nooks-Script";
    font-size: 100px;
    font-weight: 700;
    line-height: 90px;
}

/*header*/


header{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
}

header div{
    border: 2px solid #FB95C9;
    border-radius: 20px;
    padding: 16px 163px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.botonera-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 80px;
}

.boton-nav{
    color: #FB95C9;
    font-family:"TT-Nooks-Script";
    font-size: 28px;
    font-weight: 700;
}

/*main*/

/*section - landing*/

/*section - sobre mi*/