@charset "utf-8";
/* CSS Document */

/*fonts*/


/*general*/

* {
  /*   outline: 1px solid red; s*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "tt-nooks", serif;
    color: #171614;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    background-color: #F5F2ED;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: url(img/vectores/cursor.svg), auto;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 0 auto;
    width: 100%;
}

ul {
    list-style-type: none;
}

a {
    color: inherit;
    text-decoration: none;
}

button{
    border: none;
    font-family: "tt-nooks-script", sans-serif;
    font-size: 26px;
    font-weight: 700;
}

.redes-fijo{
    position: fixed;
    top: 465px; 
    left: 0px; 
    background-color: #171614;
    padding: 26px 13px;
    border-radius: 0px 15px 15px 0px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
}

.volver-arriba{
    position: fixed;
    bottom: 200px; 
    right: 0px; 
    background-color: #171614;
    padding: 35px 29px;
    border-radius: 15px 0px 0px 15px;
}

/* estilos */

h1{
    font-size: 126px;
    font-weight: 300;
    line-height: 100px;
}

h2{
    font-size: 40px;
    font-weight: 300;
    line-height: 48px;
}

h3{
    font-family: "tt-nooks-script", sans-serif;
    font-size: 100px;
    font-weight: 700;
    line-height: 90px;
}

h4{
    font-family: "tt-nooks-script", sans-serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 48px;
}

h5{
    font-size: 20px;
    line-height: 33px;
    font-weight: 400;
}

h6{
    color: #F5F2ED;
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
}

.h1-rosa, .h4-rosa{
    color: #FB95C9;
}

.h2-blanco, .h3-blanco, .h4-blanco{
    color: #F5F2ED;
}

.h4-celeste, .h5-celeste{
    color: #82C0E8;
}

.bold{
    font-weight: 700;
}

.bold-script{
    font-family: "tt-nooks-script", sans-serif;
    font-weight: 700;
}


.rosa{
    color: #FB95C9;
}

/*header*/

header{
    margin-top: 35px;
    width: 100%;
    display: flex;
    justify-content: center;
}

header nav{
    border: 2px, solid, #FB95C9;
    border-radius: 20px;
    width: 90%;
    padding: 20px 163px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#botonera-nav{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 75px;
}

.boton-nav{
    color: #FB95C9;
    font-family: "tt-nooks-script", sans-serif;
    font-size: 28px;
    font-weight: 700;
}

.boton-nav:hover{
    color: #82C0E8;
    font-family: "tt-nooks", serif;
    font-weight: 300;
}

.pag-actual{
    color: #82C0E8;
    font-family: "tt-nooks", serif;
    font-weight: 300;
}

#menu-toggle {
    display: none;
}

.menu-icono {
    display: none;
    cursor: pointer;
}

/* footer */

footer{
    color: #82C0E8;
    margin-bottom: 35px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.div-footer{
    border: 2px, solid, #82C0E8;
    border-radius: 20px;
    width: 90%;
    padding: 30px 163px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.ftr-izq{
    display: flex;
    flex-direction: column;
}

.ftr-der{
    display: flex;
    align-items: center;
    gap: 90px;
}

.redes-ftr{
    display: flex;
    align-items: center;
    gap: 50px;
}

/*main - index*/

/*section - landing*/

.landing{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 12%;
    width: 100%;
    padding-top: 150px;

}

.landing-texto{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 85px;
}

.titulo-landing{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.subtitulo-landing{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.mano-flor{
    max-width: 50%;
    height: auto;
}


/*section - sobre mi*/

.sobremi-index{
    width: 100%;
    background-color: #82C0E8;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 115px;
    padding: 115px 0px;
}

.agu-chiquita2{
    max-width: 48%;
    height: auto;
}

.sm-texto{
    max-width: 24%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 100px;
}

.izq-textoarriba{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
}

.sm-parrafo{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 40px;
}

.agu-chiquita1{
    display: none;
}

/* section - portfolio */

.portfolio-index{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:20%;
    padding: 115px 0px;
    width: 80%;
}

.pf-texto{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 65px;
}

/* slider - portfolio(index) */

.carrusel-pf {
  position: relative;
  width: 797px;
  height: 373px;
  overflow: hidden;
  border-radius: 40px;
}

.slides {
  display: flex;
  width: 100%;
  transition: transform 0.5s ease-in-out;
}

.slide {
  width: 100%;
  flex-shrink: 0;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


input[name="radio-btn"] {
  display: none;
}


.nav-dots {
  text-align: center;
  position: absolute;
  bottom: 15px;
  width: 100%;
}

.nav-dots label {
  cursor: pointer;
  height: 20px;
  width: 20px;
  margin: 0 10px;
  background-color: #F5F2ED;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.3s;
}

input#radio1:checked ~ .slides {
  transform: translateX(0%);
}

input#radio2:checked ~ .slides {
  transform: translateX(-100%);
}

input#radio3:checked ~ .slides {
  transform: translateX(-200%);
}

input#radio1:checked ~ .nav-dots label[for="radio1"],
input#radio2:checked ~ .nav-dots label[for="radio2"],
input#radio3:checked ~ .nav-dots label[for="radio3"] {
  background-color: #FB95C9;
}


/* section - mas cosas */

.mascosas-index{
    background-color: #FB95C9;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 5%;
}

.mascosas-index img{
    width: 50%;
    height: auto;
}

/* section - contacto */

.contacto-index{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
    padding: 150px 0px;
}

.titulos-centrado{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

/* sobre mi */

#main-sobremi{
    gap: 150px;
    padding: 150px 0px;
}

.introduccion-sm{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    width: 80%;
    gap: 115px;
}

.introduccion-sm img{
    width: 48%;
    height: auto;
}

.sm-intro-der{
    width: 48%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 80px;
}

.cv{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 45px;

}

.caja-c{
    width: 25%;
    border: 2px, solid, #82C0E8;
    border-radius: 20px;
    padding: 50px 63px;
    display: flex;
    flex-direction: column;
    gap: 45px;    
}

.c-rosa{
    border: 2px, solid, #FB95C9;
}

.caja-c h4{
    align-self: center;
}

.contenido-caja-c{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 30px;
}

.herramientas{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.grid-herramientas{
    display: inline-grid;
    grid-template-columns: repeat(7, 130px);
    grid-column-gap: 95px;
}

.grid-herramientas li{
    transition: transform 0.2s ease-in-out;
}
.grid-herramientas li:hover{
    transform: scale(1.120);
}

.tres-cajas{
    display: flex;
    justify-content: flex-start;
    gap: 45px;
}

.t-c-der{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.proyectos-destacados{
    border: 2px, solid, #FB95C9;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    padding: 50px 68px 60px 68px;
}

.proy-dest{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.elio{
    background-image: url('img/imagenes/elio-rosa-sm.png');
}

.schiele{
    background-image: url('img/imagenes/schiele-rosa-sm.png');
}

.angula{
    background-image: url('img/imagenes/angula-rosa-sm.png');
}


.elio, .schiele, .angula {
    width: 600px;
    height: 281px;
    background-size: cover;
    background-position: center;
    transition: background-image 0.3s ease;
}

.elio:hover{
    background-image: url('img/imagenes/elio-color-sm.png');
}

.schiele:hover{
    background-image: url('img/imagenes/schiele-color-sm.png');
}

.angula:hover{
    background-image: url('img/imagenes/angula-color-sm.png');
}

.cancion-fav{
    border: 2px, solid, #82C0E8;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 69px;
    gap: 50px;
}

.video{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

iframe{
    width: 600px;
    height: 281px;
    border-radius: 40px;
}

.hiperfijacion{
    border: 2px, solid, #82C0E8;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 69px;
    gap: 40px;
}

.julienzo{
    background-image: url('img/imagenes/julienzo-rosa.png');
    width: 600px;
    height: 445px;
    background-size: cover;
    background-position: center;
    transition: background-image 0.3s ease;
}

.julienzo:hover{
    background-image: url('img/imagenes/julienzo-color.png');
}


/* portfolio */

#main-pf{
    gap: 200px;
    padding: 200px 0px;
}

.intro-2{
    width: 65%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 190px;
}

.portfolio-galeria{
    display: flex;
    flex-direction: column;
    gap: 45px;
}

.galeria-2col{
    display: flex;
    justify-content: space-between;
}

.portfolio-galeria img, .img-cuadrados img {
    transition: transform 0.2s ease-in-out;
}
.portfolio-galeria img:hover, .img-cuadrados img:hover {
    transform: scale(1.050);
}

.galeria-popup{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
}

.popup-completo{
    width: 100vw;
    height: 100vh;
    background: rgba(23, 22, 20, 0.70);
    display: none;
    justify-content: center;
    align-items: center;
    gap: 85px;
    padding: 100px 0px;
}

.popup-completo:target{
    display: flex;
}

.popup-der{
    color: #F5F2ED;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 231px;
}

.titulo-proy-popup{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 25px;
    width: 431px;
}

.cruz-popup{
    background-image: url('img/vectores/cruz-galeria-popup.svg');
    width: 41px;
    height: 41px;
    background-size: cover;
    background-position: center;
}

/* mas cosas */

#main-mc{
    gap: 50px;
    padding: 50px 0px;
}

.paddingi2{
    padding: 150px 0px;
}

.gap-titulo-mc{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 70px;
}

.sc-dibujos, .sc-ilustraciones, .sc-tatuajes, .sc-pinturas{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    width: 100%;
    padding: 25px 0px;
}

.sc-dibujos{
    background-color: #82C0E8;
    padding: 75px 0px;
}

.sc-tatuajes{
    background-color: #FB95C9;
    padding: 75px 0px;
}

.img-cuadrados{
    display: flex;
    justify-content: center;
    gap: 45px;
}

/* contacto */

#main-cont{
    gap: 150px;
    padding: 150px 0px;
}

.contacto-full{
    display: flex;
    justify-content: center;
    gap: 130px;
}

.cont-izq{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 45px;
}

.cont-izq p{
    width: 55%;
}

.formulario {
    display: flex;
    flex-direction: column;
    gap: 45px;
    border: 2px solid #171614;
    border-radius: 20px;
    padding: 50px;
}

.datos-persona {
    display: flex;
    justify-content: space-between;
}

.nombre, .mail, .buscas, .mensaje{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
}

input[type="text"],input[type="email"] {
    height:50px;
    border: 2px solid #171614;
    border-radius: 100px;
    font-size: 18px;
    padding: 20px;
    background-color: #F5F2ED;
}

input[type="text"]{
    width: 273px;
}

input[type="email"]{
    width: 319px;
}

textarea {
    width: 634px;
    height: 150px;
    padding: 20px;
    font-size: 18px;
    border: 2px solid #171614;
    border-radius: 20px;
    resize: none;
    background-color: #F5F2ED;
}

.selecciona{
    display: inline-flex;
    justify-content: space-between;
    width: 634px;
}

.checkbox{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 12px;
}

.checkbox input[type="checkbox"] {
    appearance: none;
    width: 30px;
    height: 30px;
    border: 2px solid #171614;
    border-radius: 5px;
    display: grid;
    place-content: center;
    cursor: pointer;
}

.checkbox input[type="checkbox"]::before {
  content: "✔";
  font-size: 18px;
  color: #171614;
  transform: scale(0);
  transition: transform 0.1s ease-in-out;
}

.checkbox input[type="checkbox"]:checked::before {
  transform: scale(1);
}


/* botones */

.boton-landing{
    color: #F5F2ED;
    font-family: "tt-nooks", serif;
    font-weight: 300;
    background-color: #FB95C9;
    width: 333px;
    height: 69px;
    border-radius: 15px;
}

.boton-landing:hover{
    background-color: #82C0E8;
    font-family: "tt-nooks-script", sans-serif;
    font-weight: 700;
}

.boton-blanco{
    color: #FB95C9;
    background-color: #F5F2ED;
    width: 165px;
    height: 64px;
    border-radius: 15px;
}

.boton-blanco:hover{
    color: #F5F2ED;
    background-color: #FB95C9;
}

.boton-blanco2{
    color: #82C0E8;
    background-color: #F5F2ED;
    width: 165px;
    height: 64px;
    border-radius: 15px;
}

.boton-blanco2:hover{
    color: #F5F2ED;
    background-color: #82C0E8;
}

.boton-celrosa{
    color: #F5F2ED;
    background-color: #82C0E8;
    width: 165px;
    height: 64px;
    border-radius: 15px;
}

.boton-celrosa:hover, .boton-enviar:hover{
    color: #F5F2ED;
    background-color: #FB95C9;
}

.boton-rosacel{
    color: #F5F2ED;
    background-color: #FB95C9;
    width: 165px;
    height: 64px;
    border-radius: 15px;
}

.boton-rosacel:hover{
    color: #F5F2ED;
    background-color: #82C0E8;
}

.boton-enviar {
    background-color: #82C0E8;
    border: none;
    width: 165px;
    height: 64px;
    border-radius: 15px;
    font-size: 26px;
    font-weight: 700;
    color: #F5F2ED;
    cursor: pointer;
    font-family: "tt-nooks-script", sans-serif;
    align-self: flex-end;
}



/* animaciones */

.flor-icono-inicio{
    animation: girar 5s infinite linear;
}

@keyframes girar {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}


/* media queries 1200px */

@media screen and (max-width: 1200px){

    #menu-toggle:checked + .menu-icono + #botonera-nav {
        display: flex;
    }
    #menu-toggle:checked + .menu-icono {
        background-image: url('img/vectores/cruz-rosa.svg');
        width: 35px;
        height: 35px;
    }

    #botonera-nav {
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        gap: 40px;
        width: 100%;
        height: 100vh;
        background-color: #F5F2ED;
        position: fixed;
        top: 0;
        right: 0;
        padding: 200px;
        transition: background 0.4s ease;
    }

    #botonera-nav li {
        display: flex;
        text-align: center;
    }

    .menu-icono {
        display: block;
        z-index: 1;
        background-image: url('img/vectores/menu-icono.svg');
        background-size: cover;
        width: 40px;
        height: 30px;
        transition: background-image 0.4s ease;
    }

    .div-footer{
    padding: 30px 100px;
    }

    h1 {
        font-size: 100px;
        line-height: 90px;
    }
    
    h2{
        font-size: 30px;
        line-height: 36px;
    }

    h3{
        font-size: 80px;
        line-height: 70px;
    }

    h4{
        font-size: 24px;
        line-height: 28px;
    }

    p, h5{
        font-size: 18px;
        line-height: 24px;
    }

    .boton-landing{
        font-size: 18px;
        width: 250px;
        height: 50px;
}

    .redes-fijo{
        position: fixed;
        top: 365px; 
        left: 0px; 
        padding: 18px 13px;
        border-radius: 0px 15px 15px 0px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 15px;
    }

    .redes-fijo h4{
        font-size: 20px;
    }

    .volver-arriba{
    position: fixed;
    bottom: 200px; 
    right: 0px; 
    padding: 20px 15px;
    border-radius: 15px 0px 0px 15px;
}

    .volver-arriba img{
        height: 25px;
        width: auto;
    }

    .sm-texto{
        align-items: center;
    }

    .boton-blanco{
    width: 120px;
    height: 46px;
    border-radius: 10px;
    font-size: 18px;
}

    .boton-celrosa{
        width: 120px;
        height: 46px;
        border-radius: 10px;
        font-size: 18px;
    }

    .boton-rosacel{
        width: 120px;
        height: 46px;
        border-radius: 10px;
        font-size: 18px;
    }

    .boton-blanco2{
        width: 120px;
        height: 46px;
        border-radius: 10px;
        font-size: 18px;
    }

    .portfolio-index{
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        gap: 100px;
        padding: 80px 0px;
    }

    .mascosas-index{
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        padding-top: 80px;
    }

    .contacto-index{
        padding: 80px 0px;
    }

}


/* media queries 992px */
@media screen and (max-width: 992px){

    .mano-flor{
        display: none;
    }

    .landing{
        padding: 100px 0px;
    }

    header nav{
        padding: 20px 100px;
    }

    .agu-chiquita1{
        display: flex;
        max-width: 100%;
        height: auto;
    }

    .sm-texto{
        max-width: 70%;
        gap: 60px;
    }

    .agu-chiquita2{
        display: none;
    }

    .carrusel-pf{
        width: 80%;
        height: auto;
    }

    .div-footer{
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        gap: 45px;
    }
    .ftr-izq{
        text-align: center;
    }

    .ftr-der{
        flex-direction: column;
        gap: 15px;
    }
}


/* media queries 600px */

@media screen and (max-width: 600px){

    header nav{
        padding: 20px 50px;
    }

    h1{
        font-size: 80px;
        line-height: 70px;
    }

        h2{
        font-size: 24px;
        line-height: 28px;
    }

    h3{
        font-size: 70px;
        line-height: 60px;
    }

        h4{
        font-size: 20px;
        line-height: 24px;
    }

}